name: Build and Publish

on:
  push:
    tags:
      - 'v*.*.*'

jobs:
  build-and-push-docker-image:
    name: Build Docker image and push to repositories
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Docker Buildx
        id: buildx
        uses: docker/setup-buildx-action@v1

      - name: Login to Github Packages
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GHCR_PAT }}

      - name: Extract argo-cd version
        uses: bhowell2/github-substring-action@v1
        id: argocd
        with:
          value: ${{ github.ref_name }}
          length_from_start: 6

      - name: Build image and push to GitHub Container Registry
        uses: docker/build-push-action@v2
        with:
          context: .
          tags: |
            ghcr.io/shini4i/argocd:${{ github.ref_name }}
          push: true
          build-args: |
            ARGOCD_VERSION=${{ steps.argocd.output.substring }}
